<!DOCTYPE html>
<html>
<head>
  <title>FAF-MTP</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="fafMtp">
<div class="row no-margin">
    <ui-view></ui-view>
</div>
</body>
</html>